body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

.number-line {
    position: relative;
    width: 80%;
    height: 10px;
    background-color: #000;
    margin: 20px 0;
}

.arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    cursor: pointer;
}